DISCORD_TOKEN=replace-me
DISCORD_GUILD_ID=replace-me
REMOTE_CODEX_STATE_PATH=.remotecodex/sessions.json
REMOTE_CODEX_HOST_ID=pc1
REMOTE_CODEX_DEFAULT_OWNER_HOST_ID=pc2
REMOTE_CODEX_COMMAND_CHANNEL_NAME=remote-codex-hosts
REMOTE_CODEX_HEARTBEAT_INTERVAL_MS=10000
REMOTE_CODEX_HEARTBEAT_TTL_MS=30000
REMOTE_CODEX_REPO_URL=git@github.com:kyoukarahe/remotecodex.git
REMOTE_CODEX_UPDATE_BRANCH=master
REMOTE_CODEX_DEPLOY_KEY_PATH=_local-secrets/remotecodex_deploy_key
REMOTE_CODEX_UPDATE_ENABLED=true
CODEX_TIMEOUT_MS=120000
CODEX_SESSION_POLL_INTERVAL_MS=5000
REMOTE_CODEX_USER_LABEL=User
REMOTE_CODEX_CODEX_LABEL=Codex
